h1 {
/* Font options */
  font-family: 'Pacifico', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 3s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 3s infinite;
  
  /* Standar Syntax */
  animation: rainbow 3s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}	
}

/* Internet Explorer */
@-ms-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}	
}

/* Standar Syntax */
@keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}
}
body
{
background:skyblue;
margin-left:150px;
}
a:links
{
color:black;
text-decoration:none;
}
a:hover
{
text-decoration:none;
color:green;
}
#container
{
margin-top:0px;
margin-left:0px;
width:1000px;
height:800px;
border:0px solid blue;
background:white;
}
#between
{
	width:700px;
	height:400px;
	margin-left:130px;
	margin-top:-200px;
	border:0px solid black;
	background:white;
}
#between1
{
	width:301px;
	height:35px;
	margin-left:199px;
	margin-top:0px;
	border:1px solid black;
	background:green;
}
#between8
{
	width:270px;
	height:35px;
	margin-left:214px;
	margin-top:0px;
	border:1px solid black;
	background:green;
}
#between9
{
	width:242px;
	height:35px;
	margin-left:228px;
	margin-top:0px;
	border:1px solid black;
	background:green;
}
#between4
{
	width:388px;
	height:35px;
	margin-left:155px;
	margin-top:0px;
	border:1px solid black;
	background:green;
}
#between5
{
	width:342px;
	height:35px;
	margin-left:178px;
	margin-top:0px;
	border:1px solid black;
	background:green;
}
#between6
{
	width:349px;
	height:35px;
	margin-left:175px;
	margin-top:0px;
	border:1px solid black;
	background:green;
}
#between7
{
	width:370px;
	height:35px;
	margin-left:164px;
	margin-top:0px;
	border:1px solid black;
	background:GREEN;
}
#between3
{
	width:222px;
	height:222px;
	margin-left:750px;
	margin-top:-50px;
	border:1px solid black;
	background: url(images\1.jpg);
}
#between10
{
	width:130px;
	height:27px;
	margin-left:0px;
	margin-top:15px;
	border:opx solid black;
	background:url(reinne/9.jpg)
}
#footer
{
	width:1000px;
	height:40px;
	margin-left:0px;
	margin-top:-20px;
	border:0px solid black;
	background:url(reinne/8.jpg);
}
 #between14
{
margin-top:-50px;
margin-left:50px;
}
div ul, div ul{margin:0; padding:0;}
#mydiv ul ul{position:absolute; width:100px;}
#mydiv ul ul ul{left:180px; top:0;}
#mydiv li{display:inline-block; position:relative; margin:0 0px 0 0; padding:0;}
#mydiv li li{width:100%; margin:;}
#mydiv li a{display:block; padding:0 0 10px 0;}
#mydiv ul ul{visibility:hidden;}
#mydiv ul li:hover > ul{visibility:visible;}
#mydiv li a{color:white; background-color:green; width:198px; margin-left:-1px;}
#mydiv .active a #mydiv a:hover, #mydiv li:hover > a{color:green; background-color:white;}
#mydiv li li a, #mydiv .active  li a{color:white; background-color:green;}
#mydiv li li:hover > a, #mydiv .active .active > a{color:green; background-color:white;}

